.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    background-color: #e27145;
    padding: 10px 0;
  }
  
  .navbar button {
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background-color: #f5ba9b;
  }
  