body{
  width: 100vw;
  height: 100vh;
}
team-info-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.team-section {
  margin: 20px 0;
}
.Main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centers text horizontally */
}

.section-header {
  background-color: #e27145;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

table td {
  color: #777;
}
button {
  padding: 5px 10px;
  background-color: #e27145;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e27145;
}
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

.button-container button {
  padding: 10px 20px;
  background-color: #e27145;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #e27145;
}

.button-container .dropdown {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: large;
  cursor: pointer;
}
